* {
    margin: 0px;
    padding: 0px;
}
h1 {
    color: white;  
}
h5 {
    color: #0c6d78;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}
.parent {
    position: relative;
}
.child {
    position:absolute;
    top: 35%;
    width: 100%;
    text-align: center;
}
.pad {
    padding-left: 100px;
    padding-right: 100px;
}